<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:saddlebrown;
        }
        span{
            color:skyblue;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, incidunt earum. Recusandae explicabo consectetur ea provident, minima nesciunt, animi possimus incidunt nemo, deserunt voluptas fuga sequi? Velit possimus voluptatum enim.</p>
<h1>this is <%- about %> page  </h1>
</body>
</html>