<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:red;
        
        }
        span{
            color:green;
        }
    </style>
</head>
<body>
    <h1>hello everyone <span>my name is barsha</span></h1>
</body>
</html>